h3 {
  color: #000;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.addbtn button {
  border-radius: 30px;
  background: #000;
  width: 146px;
  height: 50px;
  flex-shrink: 0;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: none;
}

.searchbar {
  width: 398px;
  height: 51px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 0.5px solid #a9a9a9;
}
.searchbar svg {
  margin-top: 6px;
}

.searchbar input {
  color: black;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 309px;
  height: 22px;
  flex-shrink: 0;
  outline: none;
  border: none;
  margin: 15px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 30px;
  margin-left: 30px;
}

table td {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

table {
  width: 95%;
  margin: 0 auto;
  margin-top: 4vw;
}

